body{
	font-family: Georgia;
	font-size:X-large;
	color: brown;
	background-image: url(parchment-0.jpg);
	background-size: 100%, auto;
	background-position: fixed;
	text-align: center;
	}
.header{
	text-align:left;
	height:50px;
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
hr{
	border-color:brown;
	border-style: groove;
}

ul{
	list-style-type:none;
	/*margin: 0 0 0 12px;
	padding: 0;*/
}

ul li {
	list-style-type: none;
	/*margin-bottom:10px;*/
}

.floatright{
	width:40%;
	float: right;
	margin: 20px;
}

.prose{
	text-align:left;
	text-indent:10px;
	margin-top: 40px;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}

dd{
	text-indent: 10px;
}

.statblock{
	text-align:left;
	margin-top: 40px;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}
a{
	color:black;
}
a:hover{
	color:red;
}
